/* Contact Left */
.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: -120px; */
}





/* Rontact Right */
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: -80px;
    position: relative;
}

.contact-container>.contact-left>h2 {
    font-size: 2em;
}

.contact-container>.contact-left>h3 {
    font-size: 1.5em;
}

.contact-container>.contact-left>p>b {
    font-size: 1em;
}

.contact-right>.form-wrapper>form>h1 {
    font-size: 2em;
}

header#header h1 {
    font-size: 2.5em;
}

.contact-left,
.contact-right {
    flex: 1;
    margin: 10px;
    /* left: 20%; */
}


.form-wrapper {
    border: 2px solid #ccc;
    padding: 20px;
    background: rgb(235, 233, 231);
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

/* button {
    background: #ebe4e4;
    color: #0097B2;
    border: 2px solid#0097B2;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.myBtn {
    border: 2px solid#0097B2;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .myBtn:hover {
    background-color: #0097b277;
    color: aliceblue;
} */

/* Responsive Styles */

/* For tablets and larger devices */
@media (min-width: 768px) {
    .contact-container {
        flex-direction: row;
    }
}

@media (max-width: 1280px) {
    .contact-right>.form-wrapper {
        margin-top: 20px;
    }
}

@media (max-width: 1024px) {
    header#header h1 {
        font-size: 3em;
    }

    .contact-container>.contact-left>h3 {
        font-size: 1.3em;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .contact-container>.contact-left {
        display: flex;
        flex-direction: column;
        font-size: 2em;
        left: 20%;
    }

    .contact-right>.form-wrapper>form {
        font-size: 2em;
    }
}

/* For mobile devices */
@media (max-width: 767px) {
    .contact-container {
        flex-direction: column;
        padding: 10px;
    }

    .contact-left,
    .contact-right {
        margin: 0;
        width: 100%;
    }

    .form-wrapper {
        margin-top: 20px;
    }

    .contact-left {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    header#header h1 {
        font-size: 200%;
        /* Smaller on mobile */
        margin-top: -50px;
        /* Slightly higher on smaller screens */
    }

    .contact-container {
        margin-top: -60px;
        /* Less negative margin on smaller screens */
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    header#header h1 {
        font-size: 5em;
        /* Adjusted size for tablets */
        /* margin-top: -60px; */
        /* Position adjustment for tablets */
    }


}